<% provide :title, t(".h1") %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".the" %><a href="http://www.railstutorial.org/"><em><%= t ".ror" %></em></a><%= t ".is" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a><%= t ".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".screencasts" %></a>
  <%= t ".screencasts_1" %>
  <a href="http://rubyonrails.org/"><%= t "layouts._footer.ror" %></a>.
  <%= t ".p" %>
</p>
