<% provide :title, t(".h1") %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p" %>
  <a href="http://www.railstutorial.org/help"><%= t ".book" %></a>.
  <%= t ".a" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "layouts._footer.ror"%></em>
  <%= t ".book" %></a>.
</p>
