<div class="center jumbotron">
  <h1><%= t ".h1" %></h1>
  <h2>
    <%= t ".h2" %>
    <a href="http://www.railstutorial.org/"><%= t "static_pages.about.ror" %></a>
    <%= t ".h2_1" %>
  </h2>
  <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
  "http://rubyonrails.org/" %>
