<footer class="footer">
  <small>
    <%= I18n.t "views.tit1"%> <a href="http://www.railstutorial.org/"><%= I18n.t "views.tit2"%></a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to (I18n.t "nav_about_tit"),   about_path %></li>
      <li><%= link_to (I18n.t "nav_contact_tit"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= I18n.t "nav_news_tit"%></a></li>
    </ul>
  </nav>
</footer>
