<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t("layouts._footer.ror"), t("layouts._footer.ror_link")%>
    <%= t ".by" %> <%= link_to t("layouts._footer.author"), t("layouts._footer.author_link")%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), t("layouts._footer.contact_link") %></li>
    </ul>
  </nav>
</footer>
